<mat-accordion>
    <mat-expansion-panel class="filtrosContainer">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Filtros</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let filtro of filtros" class="filtroContainer">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label> {{ filtro.label }}</mat-label>
          <mat-select>
            <mat-option *ngFor="let filtroOption of filtro.options" [value]="filtroOption.value">
              {{ filtroOption.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Aplicar</button>
    </mat-expansion-panel>
  </mat-accordion>
