<mat-accordion>
    <mat-expansion-panel class="filtrosContainer">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Filtros</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let filtro of filtros" class="filtroContainer">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label> {{ filtro.label }}</mat-label>
          <mat-select id="{{ filtro.name }}" (selectionChange)="select($event)">
            <mat-option *ngFor="let filterOption of filtro.filterOptions" [value]="filterOption.id">
              {{ filterOption.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="aplicarFiltro()">Aplicar</button>
    </mat-expansion-panel>
  </mat-accordion>


  <p>You selected: {{ RubrosClientes }}</p>