<mat-accordion>
    <mat-expansion-panel class="filtrosContainer">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Filtros</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let filtro of filtros" class="filtroContainer">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label> {{ filtro.label }}</mat-label>
          <mat-select id="{{ filtro.name }}" (selectionChange)="select($event)">
            <mat-option *ngFor="let filterOption of filtro.filterOptions" [value]="filterOption.id">
              {{ filterOption.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="mostrasrFiltroFechaPersonalizada" class="filtroContainer">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Ingrese un rango de fechas:</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="fechaDesde" placeholder="Desde">
            <input matEndDate formControlName="fechaHasta" placeholder="Hasta">
          </mat-date-range-input>
          <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="range.controls.fechaDesde.hasError('matStartDateInvalid')">Fecha desde invalida</mat-error>
          <mat-error *ngIf="range.controls.fechaHasta.hasError('matEndDateInvalid')">Fecha hasta invalida</mat-error>
        </mat-form-field>
        </div>
      <div class="filtroContainer">
        <mat-checkbox id="includeAnulados" (change)="select($event)" checked>Anulados</mat-checkbox>
      </div>
      <div class="filtroContainer">
        <mat-checkbox id="includeNoAtendidos" (change)="select($event)" checked>No atendidos</mat-checkbox>
      </div>
      <div id="aplicarFiltros">
        <button mat-raised-button color="primary" (click)="aplicarFiltro()">Aplicar</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>