.filtrosContainer {
    margin-top: 20px !important;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.filtroContainer {
    width: 60%;
    margin: auto;
}

#aplicarFiltros {
    width: 60%;
    margin: 30px auto auto auto;
}

.prueba {
    margin-top: 15px;
}