#aplicarFiltros {
    width: 100%;
    text-align: center;
}

#btnAplicarFiltros {
    margin-top: 30px;
}

:host {
    width: 90%;
    margin-bottom: 40px;
    margin-top: 20px;
}

.example-chip-list {
    width: 100%;
}