<div *ngIf="showSpinner" id="spinnerContainer">
    <mat-spinner style="margin-top:20px;" [diameter]="50"></mat-spinner>
</div>
<div [ngClass]="showSpinner ? 'hideFiltersAndMetrics' : 'showFiltersAndMetrics'">
    <mat-toolbar class="toolbar">
        <mat-icon fontIcon="arrow_back" (click)="mostrarListaDeModulos()" style="cursor: pointer;"></mat-icon>
        <div style="width: 100%; text-align: center;">
            <p style="margin:0px;">{{ metricsNames[metricId] }}</p>
        </div>
    </mat-toolbar>
    <div style="display: flex; flex-direction: column; width: 100%; align-items: center; height: 100%;">
        <app-filtro (showSpinner)="filtroShowSpinner($event)" (sendMetricas)="actualizarMetricas($event)" [metricId]="metricId"></app-filtro>
        <div *ngIf="metricas.length > 0" style="width: 100%; height: 90%;">
            <ngx-charts-bar-vertical *ngIf="metricId != '01'"
                [results]="metricas"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [customColors]="customColors"
                [noBarWhenZero]="noBarWhenZero">
            </ngx-charts-bar-vertical>
            <ngx-charts-bar-vertical-2d *ngIf="metricId == '01'"
                [results]="metricas"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [customColors]="customColors"
                [noBarWhenZero]="noBarWhenZero">
            </ngx-charts-bar-vertical-2d>
        </div>
        <p *ngIf="metricas.length == 0">No hay resultados para mostrar.</p>
    </div>
    
</div>