<div *ngIf="showSpinner" id="spinnerContainer">
    <mat-spinner style="margin-top:20px;" [diameter]="50"></mat-spinner>
</div>
<div [ngClass]="showSpinner ? 'hideFiltersAndMetrics' : 'showFiltersAndMetrics'">
    <mat-toolbar class="toolbar">
        <mat-icon fontIcon="arrow_back" (click)="mostrarListaDeModulos()" style="cursor: pointer;"></mat-icon>
    </mat-toolbar>
    <div style="display: flex; flex-direction: column; width: 100%; align-items: center;">
        <app-filtro (showSpinner)="filtroShowSpinner($event)" (sendMetricas)="actualizarMetricas($event)" [metricId]="metricId"></app-filtro>
        <ngx-charts-bar-vertical *ngIf="metricas.length > 0"
            (window:resize)="onResize($event)"
            [view]="view"
            [results]="metricas"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [customColors]="customColors">
        </ngx-charts-bar-vertical>
    </div>
    <p *ngIf="metricas.length == 0">No hay resultados para mostrar.</p>
</div>