<div class="example-container">
  <mat-toolbar class="toolbar">
    <span>SHAMAN METRICS APP</span>
    <div class="spacer"></div>
    <p>{{ usuarioNombreCompleto }}</p>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="cerrarSesion()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesion</span>
          </button>
      </mat-menu>
  </mat-toolbar>  
  <div id="modulosList" style="width: 60%; margin:auto;">
    <mat-card *ngFor="let modulo of modulos" class="clickable" (click)="mostrarMetricaDelModulo(modulo['codigo'])" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 200px; margin: 20px 0 20px 0;">
        <mat-card-content >
          <p style="font-size: 15px; font-weight: bold;">{{ modulo.descripcion | uppercase }}</p>
        </mat-card-content>
    </mat-card>
  </div>
<!--   <app-metrica id="metricaModulo" style="display: none;"></app-metrica> -->
</div>
