.spacer {
    flex: 1;
  }

p {
  margin: 0;
}

.toolbar > * {
  font-size: 13px;
  color: white;
}

.clickable {
  cursor: pointer;
}

.container {
  background-color: lightgray;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#modulosList {
  width: 90%;
  margin: auto;
}

#spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}