.login {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login > mat-form-field {
    width: 100%;
}

.login > form > mat-form-field {
    width: 100%;
}

#checkBoxLogin {
    margin: 12px 0;
  }
  
.example-margin {
margin: 0 12px;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}