<div class="login">
  <form style="width: 100%" method="post" id="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Alias</mat-label>
      <input matInput [(ngModel)]=alias name="alias" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput [(ngModel)]=username name="username" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" [(ngModel)]=password name="password" required>
    </mat-form-field>
    <button [disabled]="showSpinner" mat-raised-button color="accent" (click)="login()" style="background-color: #8bc541; width: 100%;">Ingresar</button>
  </form>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <mat-spinner *ngIf="showSpinner" style="margin-top:20px;" [diameter]="50"></mat-spinner>
  </div>
</div>