.login {
    width: 350px;
}

.login > mat-form-field {
    width: 100%;
}

.login > form > mat-form-field {
    width: 100%;
}

#checkBoxLogin {
    margin: 12px 0;
  }
  
.example-margin {
margin: 0 12px;
}