<div class="login">
  <form style="width: 100%" method="post" id="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Alias</mat-label>
      <input matInput [(ngModel)]=alias name="alias" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput [(ngModel)]=username name="username" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]=password name="password" required>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button type="submit" id="botonIngresar" [disabled]="showSpinner" mat-raised-button color="accent" (click)="login()">Ingresar</button>
  </form>
  <div id="spinnerContainer">
    <mat-spinner *ngIf="showSpinner" style="margin-top:20px;" [diameter]="50"></mat-spinner>
  </div>
</div>