<div class="login">
  <form style="width: 100%" method="post" id="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Alias</mat-label>
      <input matInput [(ngModel)]=alias name="alias" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput [(ngModel)]=username name="username" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" [(ngModel)]=password name="password" required>
    </mat-form-field>
    <mat-checkbox class="checkBoxLogin" [(ngModel)]=recordarme name="recordarme">Recordarme?</mat-checkbox>
    <button mat-raised-button color="accent" (click)="login()" style="background-color: #8bc541; width: 100%;">Ingresar</button>
  </form>
</div>