/* You can add global styles to this file, and also import other style files */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%;}

.warn-snackbar {
    background: orange;
    color: white;
}
.warn-snackbar button {
    background-color: orange;
    color: white;
    border: none;
}
.error-snackbar {
    background: #F44336;
    color: white;
}
.error-snackbar button {
    background-color: #F44336;
    color: white !important;
    border: none;
}

.toolbar {
    background: #8bc541;
    height: 60px;
}